body {
    margin: 0;
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: #B388FF;
    width: 100%;
}

h1 {
    margin-top: 18px;
    font-size: 60px;
    font-weight: bold;
    padding-top: -25px;
    width: 600px;
    height: 5pc;
    border: 3px solid #D500F9;
    /* กำหนดขอบ */
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}

form {
    font-size: larger;
    font-weight: lighter;
    padding-top: -50px;
    border: 3px solid #D500F9;
    border-radius: 10px;
    background-color: #ffffff;
}