body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    width: 45%;
    background-color: #f5f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-left: 18pc;
}
